<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="price">
            <h2><span jhiTranslate="xrisApp.price.detail.title">Price</span> {{ price.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="xrisApp.price.value">Value</span></dt>
                <dd>
                    <span>{{ price.value }}</span>
                </dd>
                <dt><span jhiTranslate="xrisApp.price.price">Price</span></dt>
                <dd>
                    <div *ngIf="price.price">
                        <a [routerLink]="['/discount-xris', price.price?.id, 'view']">{{ price.price?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/price-xris', price.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
