<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userInfo">
            <h2><span jhiTranslate="xrisApp.userInfo.detail.title">User Info</span> {{ userInfo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="xrisApp.userInfo.email">Email</span></dt>
                <dd>
                    <span>{{ userInfo.email }}</span>
                </dd>
                <dt><span jhiTranslate="xrisApp.userInfo.login">Login</span></dt>
                <dd>
                    <span>{{ userInfo.login }}</span>
                </dd>
                <dt><span jhiTranslate="xrisApp.userInfo.department">Department</span></dt>
                <dd>
                    <span *ngFor="let department of userInfo.departments; let last = last">
                        <a [routerLink]="['/department-xris', department?.id, 'view']">{{ department.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="xrisApp.userInfo.transaction">Transaction</span></dt>
                <dd>
                    <div *ngIf="userInfo.transaction">
                        <a [routerLink]="['/transaction-xris', userInfo.transaction?.id, 'view']">{{ userInfo.transaction?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-info-xris', userInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
