<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="department">
            <h2><span jhiTranslate="xrisApp.department.detail.title">Department</span> {{ department.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="xrisApp.department.name">Name</span></dt>
                <dd>
                    <span>{{ department.name }}</span>
                </dd>
                <dt><span jhiTranslate="xrisApp.department.price">Price</span></dt>
                <dd>
                    <span *ngFor="let price of department.prices; let last = last">
                        <a [routerLink]="['/price-xris', price?.id, 'view']">{{ price.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/department-xris', department.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
